@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');


body {
    margin: 0;
    background-color: #1B244A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h3 {
    color: white;
    margin-bottom: 10px;
}


h2 {
    width: 155px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 84px;
    background-color: #080001;
    color: #F94F6D;
    margin: 0 0 15px 0;
}


#home-score,
#guest-score {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 70px;
    color: #F94F6D;
}


button {
    border: 2px solid #9AABD8;
    background-color: #1B244A;
    color: #9AABD8;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}


.home-buttons,
.guest-buttons {
    display: flex;
    gap: 12px;
    margin-top: 5px;
}


button:hover {
    background-color: #111a3a;
}